@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,800");
/* Reset
--------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HTML5 Reset
---------------------------------------------------------------------------- */
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
---------------------------------------------------------------------------- */
/* stylelint-disable */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden],
template {
  display: none;
}

/* stylelint-enable */
/* Box Sizing
--------------------------------------------- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Float Clearing
--------------------------------------------- */
.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.wrap::before {
  content: " ";
  display: table;
}

.author-box::after,
.clearfix::after,
.entry::after,
.entry-content::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.wrap::after {
  clear: both;
  content: " ";
  display: table;
}

/* Defaults
---------------------------------------------------------------------------- */
/* Typographical Elements
--------------------------------------------- */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #f5f5f5;
  color: #222;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  margin: 0;
  overflow-x: hidden;
}

button,
.button,
input:focus,
input[type=button],
input[type=reset],
input[type=submit],
textarea:focus {
  transition: all 0.2s ease-in-out;
}

a {
  color: #c4bc8b;
  text-decoration: none;
  transition: 150ms ease;
  font-weight: 700;
}
a:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-dark a {
  color: #fff;
}
.bg-dark a:hover {
  opacity: 0.8;
}

p {
  margin: 0 0 22px;
  padding: 0;
}

ol,
ul {
  margin: 0 0 22px;
  padding: 0;
}

ul ul,
ol ol {
  margin: 0 0 12px;
}

li {
  list-style-type: none;
}

ul li {
  position: relative;
  margin-bottom: 8px;
  list-style-position: inside;
}

ol li {
  list-style-type: decimal;
  margin-bottom: 8px;
  list-style-position: inside;
}

ul li ul,
ul li ol,
ol li ul,
ol li ol {
  padding-left: 16px;
  margin: 8px 0;
}

ul li ul li,
ol li ul li {
  list-style-type: none;
}

hr {
  border: 0;
  border-collapse: collapse;
  border-bottom: 1px solid currentColor;
  clear: both;
  color: #c4c4c4;
  margin: 1.65em auto;
}

b,
strong {
  font-weight: 700;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

mark {
  background: #c4c4c4;
  color: #222;
}

blockquote {
  margin: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
blockquote p {
  color: #c4bc8b !important;
}

cite {
  font-size: 14px;
  color: #c4bc8b;
  display: block;
}
cite::before {
  content: "— ";
}

/* Typography
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  margin: 0 0 20px;
  color: #222;
}

h1 {
  font-size: 36px;
  color: inherit;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

/* Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
  vertical-align: top;
}

figure {
  display: inline-block;
  margin: 0;
}

/* Forms
--------------------------------------------- */
input,
select,
textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #fff;
  color: #222;
  font-size: 16px;
  font-weight: 400;
  padding: 12px;
  width: 100%;
}

input[type=checkbox],
input[type=image],
input[type=radio] {
  width: auto;
}

:-ms-input-placeholder {
  font-family: "Nunito", sans-serif;
  color: #646464;
  font-size: 15px;
  font-weight: 400;
}

::placeholder {
  font-family: "Nunito", sans-serif;
  color: #646464;
  font-size: 15px;
  font-weight: 400;
}

input[type=button],
input[type=reset],
input[type=submit],
form[role=search] button[type=submit] {
  background-color: #222;
  color: #fff;
  border: 1px solid #c4bc8b;
  padding: 10px 22px;
  margin: 0;
  font-weight: 400;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  white-space: normal;
  width: auto;
  font-size: 15px;
  text-transform: uppercase;
}

input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover,
form[role=search] button[type=submit]:focus,
form[role=search] button[type=submit]:hover {
  background-color: #646464;
  color: #fff;
  border-color: #646464;
}

button,
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  border: 1px solid #c4bc8b;
  border-radius: 0;
  color: #c4bc8b;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 22px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: max-content;
}
button:focus, button:hover,
.button:focus,
.button:hover {
  background-color: #c4bc8b;
  border-color: #c4bc8b;
  color: #222;
}
button.button-link,
.button.button-link {
  padding: 0;
  border-radius: 0;
  background-color: transparent;
  border-color: transparent;
  text-transform: none;
  color: #c4bc8b;
}
button.button-link::after,
.button.button-link::after {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23c4bc8b' d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/%3E%3C/svg%3E");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  margin-left: 8px;
  transition: 150ms ease;
}
button.button-link:focus, button.button-link:hover,
.button.button-link:focus,
.button.button-link:hover {
  background-color: transparent;
  border-color: transparent;
  color: #c4bc8b;
}
button.button-outlined,
.button.button-outlined {
  border: 2px solid #c4bc8b;
  background-color: transparent;
  color: #c4bc8b;
}

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type=button]:disabled,
.site-container input[type=button]:disabled:hover,
.site-container input[type=reset]:disabled,
.site-container input[type=reset]:disabled:hover,
.site-container input[type=submit]:disabled,
.site-container input[type=submit]:disabled:hover {
  background-color: #c4c4c4;
  border-width: 0;
  color: #646464;
  cursor: not-allowed;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button {
  display: none;
}

/* Tables
--------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 40px;
  width: 100%;
  table-layout: fixed;
}

tbody {
  border-bottom: 1px solid #c4c4c4;
}

td,
th {
  line-height: 2;
  text-align: left;
  vertical-align: top;
}

td {
  padding: 0.5em;
}

tr {
  border-top: 1px solid #c4c4c4;
}

th {
  font-weight: 600;
  padding: 0.5em;
}

@media only screen and (min-width: 1024px) {
  /* Typography
  --------------------------------------------- */
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }
  h5,
  h6 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  /* Typography
  --------------------------------------------- */
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
}
.container {
  padding-left: 40px;
  padding-right: 40px;
}

.bg-grey {
  background-color: #c4c4c4;
}

.bg-grey-alt {
  background-color: #e5e5e5;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #222;
}

.bg-black-light {
  background-color: #424242;
}

.bg-primary {
  background-color: #c4bc8b;
}

.bg-secondary {
  background-color: #151515;
}

.bg-green {
  background-color: #327957;
}

.bg-orange {
  background-color: #d36f3d;
}

.my-0 {
  margin: 0;
}

.my-1 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.my-2 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-3 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.underline {
  position: relative;
  margin-bottom: 40px;
}
.underline::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
  width: 100%;
  max-width: 150px;
  height: 2px;
  background-color: #c4bc8b;
}

.max-width-xlarge {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-large {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.max-width-medium {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.is-flex {
  display: flex;
}
.is-flex.space-between {
  justify-content: space-between;
}
.is-flex .flex-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 60px 40px;
}
.is-flex .flex-content,
.is-flex .flex-image-wrap {
  width: 50%;
  flex-basis: 50%;
}
.is-flex .flex-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.is-flex .flex-content-inner {
  max-width: 600px;
}

.is-flex-row-reverse {
  flex-direction: row-reverse;
}

.is-grid {
  display: grid;
  gap: 20px;
  justify-items: center;
  align-items: center;
}
.is-grid.grid-col-3 {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.is-grid .grid-title {
  grid-column: 1/-1;
  margin-bottom: 0;
}

@media only screen and (min-width: 1024px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
  .touch-only {
    display: none !important;
  }
  .is-flex .flex-content {
    padding: 80px;
  }
  .is-grid.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .call-to-action {
    padding: 100px 64px;
  }
}
@media only screen and (max-width: 1024px) {
  .desktop-only {
    display: none !important;
  }
}
@media only screen and (max-width: 680px) {
  .is-flex {
    flex-direction: column;
  }
  .is-flex .flex-content,
  .is-flex .flex-image-wrap {
    width: 100%;
    flex-basis: 100%;
  }
  .is-flex .flex-content {
    padding: 40px 20px;
  }
  .is-flex .flex-content-inner {
    max-width: unset;
  }
  .call-to-action {
    padding: 60px 20px;
  }
  .call-to-action.image-cta img {
    height: 300px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header {
  position: sticky;
  width: 100%;
  z-index: 1000;
  background-color: #222;
  color: #fff;
  border-bottom: 2px solid #c4bc8b;
}
.header .header__top {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #424242;
}
.header .header__top > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  grid-column: 1/18;
}
.header .header__top > ul li {
  display: flex;
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 0;
}
.header .header__top > ul li svg {
  height: 16px;
  width: 16px;
  margin-right: 6px;
}
.header .header__top > ul li svg path {
  fill: #327957;
}
.header .header__top > ul li:not(:last-of-type) {
  margin-right: 20px;
}
.header .header__top .auth-links {
  grid-column: 18/-1;
  font-size: 13px;
  line-height: 1.2;
  justify-content: end;
}
.header .header__middle {
  display: flex;
  align-items: center;
}
.header .header__middle .site-logo {
  max-width: 140px;
  margin-bottom: 12px;
}
.header .header__middle .rating-card {
  display: none;
  max-width: 210px;
}
.header .header__middle .nav-items-extra {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header .header__middle .nav-items-extra a {
  padding: 10px;
}
.header .header__middle .nav-items-extra svg {
  height: 28px;
  width: 28px;
}
.header .navbar-toggle {
  background-color: transparent;
  border-radius: 0;
  border: none;
  padding: 10px;
  padding-right: 0;
  margin-bottom: 6px;
  margin-left: 20px;
  position: relative;
}
.header .navbar-toggle::after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23ffffff' d='M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}
.header .navbar-toggle.is-active::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='%23ffffff' d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'/%3E%3C/svg%3E");
}
.header .navbar-menu {
  justify-content: center;
  background-color: #222;
}
.header .navbar-menu > .navbar-item {
  padding: 10px 14px;
  white-space: nowrap;
}
.header .navbar-menu .navbar-link {
  color: #fff;
}
.header .navbar-menu .navbar-item.has-dropdown {
  position: relative;
}
.header .navbar-menu .navbar-dropdown {
  background-color: #222;
  max-height: 0;
  transition: 150ms ease;
  pointer-events: none;
  overflow: hidden;
  margin-bottom: 0;
}
.header .navbar-menu .navbar-dropdown .navbar-item {
  display: block;
  padding: 10px 16px;
  color: #fff;
}
.header .navbar-menu .navbar-dropdown li {
  margin-bottom: 0;
}
.header .navbar-menu .sub-menu-toggle {
  border-radius: 0;
  background-color: transparent;
  border: none;
  display: inline-block;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z' fill='FFFFFF'/%3E%3C/svg%3E");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background: #fff;
  width: 14px;
  height: 14px;
  margin-left: 4px;
  padding: 0;
}

@media only screen and (min-width: 1024px) {
  .header .header__middle .rating-card {
    display: block;
  }
  .header .navbar-dropdown {
    width: 200px;
    opacity: 0;
    position: absolute;
    top: 45px;
    left: 0;
  }
  .header .navbar-menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    top: unset;
  }
  .header .navbar-menu .navbar-item.has-dropdown:hover > .navbar-dropdown {
    opacity: 1;
    max-height: unset;
    pointer-events: all;
  }
  .header .header__middle .nav-items-extra {
    margin-left: 20px;
  }
  .header .navbar-toggle {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .navbar-menu {
    flex-direction: column;
    display: none;
  }
  .navbar-menu.is-active {
    display: block;
    position: fixed;
    top: 104px;
    left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .header__middle .site-logo {
    max-width: 200px;
  }
}
.hero {
  position: relative;
  width: 100%;
  display: flex;
  align-items: stretch;
}
.hero .hero__image-wrap {
  height: 100%;
  width: 60%;
  flex-basis: 60%;
}
.hero .hero__image {
  width: 100%;
  flex-basis: 60%;
  transform: scale(-1, 1);
  height: 100%;
  object-fit: cover;
  object-position: center left;
  z-index: 0;
}
.hero .hero__text {
  height: 100%;
  background-color: #424242;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .hero__text-box {
  color: #fff;
  box-shadow: 4px 0px 25px 0px rgba(47, 75, 104, 0.25);
  position: relative;
  z-index: 1;
  overflow: visible;
}

.product-slider {
  margin-top: 100px;
  margin-bottom: 100px;
}
.product-slider h2 {
  margin-bottom: 0;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

.product-card {
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.product-card:not(:last-of-type) {
  margin-right: 20px;
}
.product-card .product-image-container {
  position: relative;
}
.product-card .discount-label {
  position: absolute;
  bottom: 0;
  left: 8px;
  background-color: #fcddca;
  color: #d36f3d;
  padding: 5px;
  line-height: 1.2;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}
.product-card .product-info {
  padding: 30px 20px;
}
.product-card .product-info .product-label {
  font-size: 13px;
  margin-bottom: 6px;
}
.product-card .product-info .product-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
.product-card .product-info .product-price {
  font-size: 20px;
  font-weight: 600;
}

.slick-initialized .slick-next,
.slick-initialized .slick-prev {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #c4bc8b;
  opacity: 0.75;
  border-radius: 0;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 0;
  padding: 0;
}
.slick-initialized .slick-next:focus, .slick-initialized .slick-next:hover,
.slick-initialized .slick-prev:focus,
.slick-initialized .slick-prev:hover {
  background-color: #646464;
  border-color: #646464;
}
.slick-initialized .slick-next.slick-disabled,
.slick-initialized .slick-prev.slick-disabled {
  background-color: #c4c4c4;
  pointer-events: none;
  opacity: 0;
}
.slick-initialized .slick-next::before,
.slick-initialized .slick-prev::before {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23ffffff' d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 12px;
  height: 20px;
}
.slick-initialized .slick-next {
  right: 0;
}
.slick-initialized .slick-prev::before {
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23ffffff' d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'/%3E%3C/svg%3E");
}
.slick-initialized .slick-dots {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.slick-initialized .slick-dots li {
  margin: 0 5px;
}
.slick-initialized .slick-dots li button {
  padding: 8px;
  font-size: 0;
  border-radius: 25px;
  background-color: #c4c4c4;
  border-color: #c4c4c4;
  opacity: 0.5;
}
.slick-initialized .slick-dots li button:focus, .slick-initialized .slick-dots li button:hover {
  background-color: #646464;
  border-color: #646464;
  opacity: 1;
}
.slick-initialized .slick-dots li.slick-active button {
  background-color: #c4bc8b;
  opacity: 1;
}

.slider-button:disabled {
  background: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

.company-logo-grid__item img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
  padding: 100px 40px;
  border-bottom: 2px solid #c4bc8b;
  border-top: 2px solid #c4bc8b;
}
.call-to-action.image-cta {
  padding-top: 0;
  margin-top: 200px;
  border: none;
}
.call-to-action.image-cta img {
  margin-top: -100px;
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center center;
  margin-bottom: 40px;
}
.call-to-action .call-to-action__text {
  max-width: 800px;
  width: 100%;
}
.call-to-action p,
.call-to-action h1,
.call-to-action h2,
.call-to-action h3,
.call-to-action h4,
.call-to-action h5,
.call-to-action h6 {
  color: #fff;
}
.call-to-action .footer__ratings {
  margin-top: 30px;
  max-width: 350px;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .hero .hero__text {
    width: 40%;
  }
  .hero .hero__text-box {
    background-color: #222;
    padding: 60px 40px;
    width: 750px;
    margin-left: 25%;
  }
  .hero .button {
    margin-left: 25%;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 680px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero .hero__text {
    padding: 40px 20px;
  }
  .hero .hero__image-wrap {
    width: 100%;
    flex-basis: 100%;
  }
}
.input-search {
  width: 100%;
  position: relative;
  padding: 16px 12px;
}
.input-search::after {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'/%3E%3C/svg%3E");
  background: #646464;
  width: 20px;
  height: 20px;
}

.footer {
  background-color: #222;
  color: #fff;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
  row-gap: 4em;
}

.footer__column h3 {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin-bottom: 1.5rem;
}
.footer__column p {
  margin-bottom: 4px;
}
.footer__column a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}
.footer__column ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
.footer__column ul li {
  margin-bottom: 4px;
  color: #fff;
}

.footer__social {
  margin-top: 22px;
}
.footer__social a {
  margin-right: 0.75rem;
}
.footer__social img {
  width: 24px;
  height: 24px;
}

.footer__column.footer__column-4 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.footer__column.footer__column-4 img {
  width: 100%;
}
.footer__column.footer__column-4 .footer__logo {
  max-width: 220px;
  margin-bottom: 1rem;
}
.footer__column.footer__column-4 .footer__ratings {
  max-width: 300px;
}

.footer__misc-logos ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;
}
.footer__misc-logos ul img {
  width: 100%;
  max-width: 80px;
  max-width: 60px;
  margin-right: 1rem;
  border-radius: 6px;
  overflow: hidden;
}

.footer__credits {
  margin-top: 2rem;
  font-size: 13px;
  color: #c4c4c4;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-top: 2px solid #c4bc8b;
}
.footer__credits * {
  margin-bottom: 2px;
}
.footer__credits a {
  color: #fff;
}

@media (max-width: 768px) {
  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
